# **Customer Sign-Up Behaviour & Data Quality Audit**

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

#  Load & Clean the Data
Identify missing values, data types, and column structure

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Uptrail/Copy of customer_signups.csv')

In [ ]:
df.head()

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other

In [ ]:
df.shape

(300, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [ ]:
df.isnull().sum()

customer_id          2
name                 9
email               34
signup_date          2
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

Convert signup_date to datetime

In [ ]:
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

/tmp/ipython-input-4275275286.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       294 non-null    datetime64[ns]
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: datetime64[ns](1), object(9)
memory usage: 23.6+ KB

Standardise inconsistent text values

In [ ]:
df.columns = df.columns.str.lower().str.strip()

Remove duplicate rows based on customer_id

In [ ]:
duplicates = df.duplicated('customer_id')
df[duplicates].count()

customer_id         0
name                1
email               1
signup_date         1
source              1
region              1
plan_selected       1
marketing_opt_in    1
age                 1
gender              1
dtype: int64

In [ ]:
df.shape

(300, 10)

In [ ]:
df=df.drop_duplicates('customer_id')

In [ ]:
df.shape

(299, 10)

Handle missing values -object datatype

Count of missing values per column

In [ ]:
df.isnull().sum()

customer_id          1
name                 9
email               34
signup_date          6
source               9
region              30
plan_selected        8
marketing_opt_in    10
age                 12
gender               8
dtype: int64

In [ ]:
# missing %
missing_percent = (df.isnull().sum() / len(df)) * 100
print(missing_percent)

customer_id          0.334448
name                 3.010033
email               11.371237
signup_date          2.006689
source               3.010033
region              10.033445
plan_selected        2.675585
marketing_opt_in     3.344482
age                  4.013378
gender               2.675585
dtype: float64

In [ ]:
cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df.isnull().sum()

customer_id         0
name                0
email               0
signup_date         6
source              0
region              0
plan_selected       0
marketing_opt_in    0
age                 0
gender              0
dtype: int64

datetime datatype

In [ ]:
date_cols = df.select_dtypes(include=['datetime64']).columns
df[date_cols] = df[date_cols].fillna(method='bfill')

/tmp/ipython-input-3576953154.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df[date_cols] = df[date_cols].fillna(method='bfill')

In [ ]:
df.isnull().sum()

customer_id         0
name                0
email               0
signup_date         0
source              0
region              0
plan_selected       0
marketing_opt_in    0
age                 0
gender              0
dtype: int64

# Data Quality Summary

In [ ]:
df.isnull().sum()

customer_id         0
name                0
email               0
signup_date         0
source              0
region              0
plan_selected       0
marketing_opt_in    0
age                 0
gender              0
dtype: int64

# Summary Outputs (Using Pandas Aggregations)

Sign-ups per week (grouped by signup_date)

In [ ]:
df.set_index('signup_date', inplace=True)

In [ ]:
per_week = df.resample('W').size()
print(per_week)

signup_date
2024-01-07    7
2024-01-14    5
2024-01-21    7
2024-01-28    7
2024-02-04    9
2024-02-11    6
2024-02-18    6
2024-02-25    7
2024-03-03    7
2024-03-10    7
2024-03-17    5
2024-03-24    7
2024-03-31    6
2024-04-07    7
2024-04-14    5
2024-04-21    7
2024-04-28    7
2024-05-05    6
2024-05-12    4
2024-05-19    7
2024-05-26    7
2024-06-02    7
2024-06-09    8
2024-06-16    5
2024-06-23    7
2024-06-30    7
2024-07-07    7
2024-07-14    5
2024-07-21    7
2024-07-28    7
2024-08-04    7
2024-08-11    5
2024-08-18    6
2024-08-25    7
2024-09-01    7
2024-09-08    8
2024-09-15    5
2024-09-22    7
2024-09-29    7
2024-10-06    7
2024-10-13    5
2024-10-20    6
2024-10-27    6
2024-11-03    3
2024-11-10    7
2024-11-17    0
2024-11-24    0
2024-12-01    1
2024-12-08    7
2024-12-15    2
Freq: W-SUN, dtype: int64

Sign-ups by source, region, and plan_selected

In [ ]:
signups_count = df.groupby(['source', 'region', 'plan_selected']).size().reset_index(name='signups')
print(signups_count.head())

  source   region plan_selected  signups
0     ??  Central           Pro        1
1     ??     East           PRO        1
2     ??    South           Pro        1
3     ??     West         Basic        1
4     ??     West       Premium        1

In [ ]:
print(df['age'].describe())

count     299
unique     11
top        40
freq       62
Name: age, dtype: object

In [ ]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [ ]:
df.describe()

              age
count  292.000000
mean    36.332192
std     14.705211
min     21.000000
25%     25.000000
50%     34.000000
75%     40.000000
max    206.000000

Marketing opt-in counts by gender

In [ ]:
df['marketing_opt_in'].unique()
df['marketing_opt_in'] = df['marketing_opt_in'].replace({
    'yes': 1,
    'no': 0,
    'Yes': 1,
    'No': 0,
    'Y': 1,
    'N': 0,
    'nil': 0
})
df['marketing_opt_in'].unique() #needs to group

array([0, 1, 'Nil'], dtype=object)